atomicwrites==1.4.0
attrs==21.4.0
colorama==0.4.4
cramjam==2.5.0
et-xmlfile==1.1.0
fastparquet==0.8.0
fsspec==2022.1.0
greenlet==1.1.2
importlib-metadata==4.8.3
iniconfig==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.29
numpy==1.19.5
openpyxl==3.0.10
packaging==21.3
pandas==1.1.5
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
pyarrow==6.0.1
PyMySQL==1.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.37
tomli==1.2.3
typing_extensions==4.1.1
zipp==3.6.0
